html,body {height: 100%;}

#bodyCard {
    height: 100%;
    width: 85%;
    margin: auto;
    background-color: white;
  }

#contactSection {
    margin-top: 10%;
}

#contactSection h2 {
    text-decoration: none;
    font-size: 28px;
    font-weight: normal;
    color: rgb(195, 0, 0);
}

#contactSection p {
    font-size: 22px;
}

