html,body {height: 140%;}

@media screen and (max-width: 800px) {
  #bodyCard {
    width: 100%;
    height: 195%;
  }

  #SFUnit {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 5%;
    margin-left: 1%;
  }

  #pastWork {
    width: 100%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  #bodyCard {
      width: 100%;
      height: 175%;
    }

  #SFUnit {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 5%;
    margin-left: 3%;
  }

  #pastWork {
    width: 100%;
    margin-left: 1%;
  }

}