html,body {height: 135%;}

#calc {
  min-width: 200px;
  position: relative;
  width: 20%;
  margin-top: 3%;
  margin-right: 2%;
  float: left;
}

#calculatorText {
  margin-top: 16%;
}

#SFUnit {
  min-width: 500px;
  margin-left: 3%;
  margin-top: 0%;
  float: right;
  width: 45%;
}

#textContent3 {
  margin-top: 6%;
}

#textContent4 {
  margin-top: 17%;
}

#textContent4 #pastWork {
  margin-top: 1.5%;
}


@media screen and (min-width: 2000px) {
  #textContent4 {
    margin-top: 20%;
  }
}


@media screen and (max-width: 800px) {
  #bodyCard {
    width: 100%;
    height: 155%;
  }
  #SFUnit {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
  #pastWork {
    width: 100%;
    margin-left: 0%;
  }
  #textContent3 {
    margin-left: 10%;
    margin-bottom: 0%;
  }
  #textContent3 #calculatorText {
    margin-top: 5%;
    width: 90%;
    margin-left: 4%;
    margin-right: 0%;
  }
  #textContent3 #calc {
    width: 100%;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 0%;
  } 
}

@media screen and (max-width: 600px) {
  #bodyCard {
      width: 100%;
      height: 200%;
    }
  #SFUnit {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 5%;
    margin-left: 3%;
  }
  #textContent4 {
    margin-bottom: 10%;
  }
  #pastWork {
    width: 100%;
    margin-left: 1%;
  }
}

@media screen and (max-height: 500px) {
  #bodyCard {
    width: 100%;
    height: 250%;
  }
}