html,body {height: 140%;}

#calc {
    min-width: 200px;
    position: relative;
    width: 20%;
    margin-top: -13%;
    margin-right: 2%;
    float: left;
  }
  
  #calculatorText {
    margin-top: 16%;
  }
  
  #SFUnit {
    min-width: 400px;
    margin-left: 4%;
    margin-top: 5%;
    float: right;
    width: 50%;
  }

  #textContent3 {
    margin-top: 6%;
  }
  
  #textContent4 {
    margin-top: 20%;
  }

  #textContent4 p {
    width: 50%;
    margin-top: 7.5%;
  }